@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;;
}
header{
    height: 80vh;
    background-image: url('https://cutt.ly/TzafOyS');
    background-position: center;
    color: #fff;
    text-align: center;
}

header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

header nav a{
    color: #bababa;
    text-decoration: none;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
    border-bottom: 1px solid #919191;
}

header .principal{
    margin-top: 40px;
}

header .principal h4{
    margin-top: -20px;
    padding: 20px;
}
.premieres-presentations{
    background-color: #222f3e;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

.premieres-presentations .gauche{
    width: 60%;
    margin-right: 10px;
}


.droite img{
    width: 300px;
}

.offres {
    padding: 30px;
    background: url('https://cutt.ly/TzaFkYJ');
    background-position: center;
    color: #fff;
}

.offres h1, .offres p {
    text-align: center;
}

.offres .offres-cartes {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.offres .offres-cartes .carte{
    background-color: #fff;
    color: #000;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.offres .offres-cartes .carte img{
    height: 60px;
    
}

.partenaires {
    padding-top: 20px;
    background-color: #222f3e;
    padding-bottom: 30px;
    color: #fff;
}

.partenaires h1 {
    text-align: center;
}

.partenaires .partenaires-images {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    margin-top: -30px;
    justify-content: space-between;
}

.partenaires .partenaires-images p {
    margin-right: 30px;
}
.partenaires .partenaires-images p img {
    height: 40px;
}

footer{
    background-color: #18212b;
    padding: 30px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .social-media {
    display: flex;
}

footer .social-media p {
    margin-right: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    width: 20px;
    cursor: pointer;
}

@media screen and (max-width: 810px){
    .premieres-presentations .gauche{
        width: 100%;
        
    }
    .premieres-presentations .droite{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
